body {
    background-color: rgba(0, 0, 0, 0.719);
}


#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    position: absolute;
    left: 41%;
    top: 25%;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 500px;
    border: 100px;
}

#clear {
    position: absolute;
    top: 82%;
    width: 400px;
    height: 50px;
}
